@import 'variables';
@import 'reset';
@import 'mixin';

body {
    background: #ffffff;
    color: #000000;
    font-family: $font-thin;

    header {
        background: url('../../assets/images/back1.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 720px;
        max-height: fit-content;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        img {
            @include transition(0.3s ease);
            @include transform(scale(1, 1));
            width: 40%;
            display: block;

            &:hover {
                @include transition(0.5s ease);
                @include transform(scale(1.03, 1.03));
                cursor: pointer;
            }
        }

        h1 {
            font-family: $font-bold;
            font-size: 40px;
            margin: 30px 0 0 0;
            color: #ffffff;
        }

        p {
            font-family: $font-medium;
            color: #ffffff;
        }
    }

    .about-interex {
        background: #ffffff;
        color: #000000;
        width: 100%;
        margin-top: 35px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        img {
            margin-right: 30px;
            border-radius: 10px;
            max-width: 10%;
        }

        div {
            width: 70%;
            text-align: justify;

            .about-us-h {
                font-style: 35px;
                font-family: $font-bold;
            }

            .about-us-p {
                font-size: 18px;
                font-family: $font-light;
                margin: 20px 0;
            }
        }
    }

    main {
        background: linear-gradient(#253d8e, #0066cc);
        box-shadow: 0 10px 20px #000000;
        color: #ffffff;
        border-radius: 5px;
        margin: 35px 35px 0 35px;
        padding: 10px 10px 20px 10px;
        text-align: center;

        h1 {
            margin-top: 10px;
            font-family: $font-bold;
            font-size: 35px;
        }

        .trust-reasons {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: stretch;
            width: 100%;
            margin-top: 20px;

            div {
                @include transition(0.3s ease);
                @include transform(scale(1, 1));
                border: 1px solid #0066cc;
                display: block;
                border-radius: 10px;
                background: inherit;
                color: #ffffff;
                opacity: 0.6;
                text-align: center;
                width: 25%;
                padding: 10px;

                img {
                    border-radius: 5px;
                    height: 180px;
                }

                h3 {
                    font-family: $font-bold;
                    font-size: 20px;
                    margin-top: 5px;
                }

                p {
                    font-size: 14px;
                    text-align: center;
                    margin-top: 5px;
                }

                hr {
                    @include transition(0.3s ease);
                    @include transform(scale(0, 0));
                    border: 1px solid #ffffff;
                    width: 20px;
                }

                &:hover {
                    @include transition(0.45s ease);
                    @include transform(scale(1.03, 1.03));
                    border: 1px solid #ffffff;
                    color: #ffffff;
                    cursor: pointer;
                    opacity: 1;

                    hr {
                        @include transition(0.45s ease);
                        @include transform(scale(4, 1));
                    }
                }
            }
        }
    }

    section {
        background: #ffffff;
        color: #111111;
        margin: 35px 0 0 0;
        padding: 10px;
        text-align: center;

        h1 {
            margin-top: 10px;
            font-family: $font-bold;
            font-size: 35px;
        }

        .trust-reasons {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 20px;

            >div {
                border-radius: 5px;
                box-shadow: 0 5px 20px #222222;
                border-radius: 5px 5px 5px 5px;
                display: block;
                color: #000000;
                text-align: right;
                width: 60%;
                margin: 20px 0;
                padding: 10px;
                /*Flexbox Config*/
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                align-items: stretch;

                >div {
                    background: linear-gradient(#101a3d, #253d8e, #0066cc);
                    border-radius: 8px;
                    color: #ffffff;
                    width: 30%;
                    text-align: center;
                    margin: 0 10px;
                    padding: 20px;

                    h3 {
                        font-family: $font-bold;
                        font-size: 20px;
                        margin: 5px 0 0 0;
                    }

                    sub {
                        font-family: $font-bold;
                        margin-top: 0;
                        font-size: 14px;
                    }
                }

                .p-right {
                    font-size: 20px;
                    text-align: justify;
                    margin-top: 5px;
                    padding-right: 10px;
                    width: 60%;
                }

                .p-left {
                    font-size: 20px;
                    text-align: justify;
                    margin-top: 5px;
                    padding-left: 10px;
                    width: 60%;
                }

                hr {
                    @include transition(0.3s ease);
                    @include transform(scale(0, 0));
                    border: 1px solid #ffffff;
                    width: 20px;
                }
            }
        }
    }

    footer {
        background: #111111;
        border-top: 10px solid #0066cc;
        margin: 50px 0 0 0;
        color: #ffffff;
        padding: 10px;

        .blocks {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: stretch;
            margin: 0 10px;

            div {
                width: 30%;
                margin: 25px 0 0 0;
                padding: 5px;
                border: 1px solid #222222;
                border-radius: 5px;

                img {
                    border-radius: 10px;
                    max-width: 100px;
                }

                h3 {
                    font-family: $font-bold;
                }

                p {
                    text-align: justify;
                    font-size: 14px;
                }

                ul {
                    list-style-type: none;
                    margin: 10px 0 0 0;

                    li {
                        margin: 2px 0;

                        a {
                            @include transition(0.3s linear);
                            border-bottom: 1px solid #222222;
                            text-decoration: none;
                            color: #ffffff;
                            opacity: 0.5;

                            &:hover {
                                @include transition(0.3s linear);
                                border-bottom: 1px solid #ffffff;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .license {
            margin: 40px 0 0 0;
            font-family: $font-light;
            font-size: 14px;
            text-align: center;
            direction: ltr;

            span {
                font-family: $font-medium;
            }
        }
    }
}