body,
header,
main,
section,
div,
footer {
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
i,
strong,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

.section-titr {
    font-family: $font-bold;
    font-size: 35px;
    color: #101a3c;
}